{{- $arch := .chezmoi.arch -}}
{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{- range .taps }}
tap {{ .name | quote }}
{{- end }}

{{- range $group, $packages := .brews }}
  {{- range $pkg := $packages }}
    {{- if kindIs "map" $pkg }}
brew {{ quote (index $pkg "name") }}
    {{- else }}
brew {{ quote $pkg }}
    {{- end }}
  {{- end }}
{{- end }}

{{- range $package := .casks }}
cask {{ quote $package.name }}
{{- end }}

{{- range .vscode_extensions }}
vscode {{ . | quote }}
{{- end }}
EOF

# Install Krew plugins
echo "Installing Krew plugins for architecture: {{ .chezmoi.arch }}"

{{- range .krew_plugins }}
  {{- if has $arch .architectures }}
if ! kubectl krew list | grep -q {{ .name }}; then
  echo "Installing krew plugin: {{ .name }}"
  kubectl krew install {{ .name }} || echo "Failed to install krew plugin: {{ .name }}"
else
  echo "Krew plugin {{ .name }} is already installed."
fi
  {{- end }}
{{- end }}

{{- if .python_packages }}
# Install Python packages
{{- range $pkg := .python_packages }}
# check if uv is installed
if command -v uv &> /dev/null; then
  echo "Installing Python package: {{ $pkg.name }} using uv"
  {{- if hasKey $pkg "extra" }}
  {{- $extra := $pkg.extra | join "," -}}
  uv pip install --system "{{ $pkg.name }}[{{ $extra }}]" || echo "Failed to install Python package: {{ $pkg }}"
  {{- else }}
  uv pip install --system {{ $pkg.name }} || echo "Failed to install Python package: {{ $pkg }}"
  {{- end }}
fi
{{- end }}
{{- end }}

{{- end -}}
