{{ if eq .chezmoi.os "darwin" "linux" -}}
#!/bin/bash

echo "Installing oh-my-zsh"
if [[ -d "$HOME/.oh-my-zsh" ]]; then
  echo "Oh My Zsh is already installed"
else
  echo "Oh My Zsh is not installed, installing..."
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
fi

if [[ -z "$(command -v k3d)" ]]; then
  echo "k3d is not installed, installing..."
  curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash
else
  echo "k3d is already installed"
fi

# install kftui
if [[ -z "$(command -v kftui)" ]]; then
  echo "kftui is not installed, installing..."
  bash <(curl -s https://raw.githubusercontent.com/hcavarsan/kftray/main/hacks/kftui_installer.sh)
else
  echo "kftui is already installed"
fi

# install atuin
if [[ -z "$(command -v atuin)" ]]; then
  echo "Installing atuin..."
  curl -s https://raw.githubusercontent.com/atuinsh/atuin/main/install.sh | sh
else
  echo "atuin is already installed"
fi

# install trdl
if [[ -z "$(command -v trdl)" ]]; then
  echo "Installing trdl..."
  curl -sSL -o $HOME/.local/bin/trdl "https://tuf.trdl.dev/targets/releases/0.11.0/darwin-arm64/bin/trdl"
  chmod +x $HOME/.local/bin/trdl
else
  echo "trdl is already installed"
fi

# install helmsman
if [[ -z "$(command -v helmsman)" ]]; then
  echo "Installing helmsman..."
  curl -L https://github.com/mkubaczyk/helmsman/releases/download/v4.0.1/helmsman_4.0.1_darwin_arm64.tar.gz | tar zx
  mv helmsman ~/.local/bin/helmsman
else
  echo "helmsman is already installed"
fi

# install d2
if [[ -z "$(command -v d2)" ]]; then
  echo "Installing d2..."
  curl -fsSL https://d2lang.com/install.sh | sh -s --
else
  echo "d2 is already installed"
fi

# install tilt
if [[ -z "$(command -v tilt)" ]]; then
  echo "Installing tilt..."
  curl -fsSL https://raw.githubusercontent.com/tilt-dev/tilt/master/scripts/install.sh | bash
else
  echo "tilt is already installed"
fi

mkdir -p $HOME/.colima/smigula

# install rustup
if [[ -z "$(command -v rustup)" ]]; then
  echo "Installing rustup..."
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  # install zsh completions for rustup
  if [[ -z "/opt/homebrew/share/zsh/site-functions/_rustup_completitions" ]]; then
    echo "Adding rustup completions to zsh..."
    rustup completions zsh rustup /opt/homebrew/share/zsh/site-functions/_rustup_completitions
  fi
  if [[ -z "/opt/homebrew/share/zsh/site-functions/_cargo_completitions" ]]; then
    echo "Adding cargo completions to zsh..."
    rustup completions zsh cargo /opt/homebrew/share/zsh/site-functions/_cargo_completitions
  fi
else
  echo "rustup is already installed"
fi

{{ end -}}
