{{ if and (eq .chezmoi.os "darwin") (ne .type "work") -}}
#!/bin/bash -ex

sudo scutil --set HostName {{ .hostname }}
sudo scutil --set LocalHostName {{ .hostname }}
sudo scutil --set ComputerName {{ .hostname }}
{{ end -}}
