{{ if eq .chezmoi.os "darwin" "linux" -}}
#!/bin/bash

echo "Installing oh-my-zsh"
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended

echo "Installing k3d..."
curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash

echo "Installing kftui..."
bash <(curl -s https://raw.githubusercontent.com/hcavarsan/kftray/main/hacks/kftui_installer.sh)

echo "Installing Atuin..."
curl --proto '=https' --tlsv1.2 -LsSf https://setup.atuin.sh | sh

# install werf
if [[ -z "$(command -v werf)" ]]; then
  echo "Installing werf..."
  curl -s https://raw.githubusercontent.com/werf/werf/master/scripts/install.sh | bash

else
  echo "werf is already installed"
fi

# install helmsman
if [[ -z "$(command -v helmsman)" ]]; then
  echo "Installing helmsman..."
  curl -L https://github.com/mkubaczyk/helmsman/releases/download/v4.0.1/helmsman_4.0.1_darwin_arm64.tar.gz | tar zx
  mv helmsman ~/.local/bin/helmsman
else
  echo "helmsman is already installed"
fi

{{ end -}}
