{{- $arch := .chezmoi.arch -}}
{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{- range .taps }}
tap {{ .name | quote }}
{{- end }}

{{- range $group, $packages := .brews }}
  {{- range $pkg := $packages }}
    {{- if kindIs "map" $pkg }}
brew {{ quote (index $pkg "name") }}
    {{- else }}
brew {{ quote $pkg }}
    {{- end }}
  {{- end }}
{{- end }}

{{- range $package := .casks }}
cask {{ quote $package.name }}
{{- end }}

{{- range .vscode_extensions }}
vscode {{ . | quote }}
{{- end }}
EOF

# Install Krew plugins
echo "Installing Krew plugins for architecture: {{ .chezmoi.arch }}"

{{- range .krew_plugins }}
  {{- if has $arch .architectures }}
if ! kubectl krew list | grep -q {{ .name }}; then
  echo "Installing krew plugin: {{ .name }}"
  kubectl krew install {{ .name }} || echo "Failed to install krew plugin: {{ .name }}"
else
  echo "Krew plugin {{ .name }} is already installed."
fi
  {{- end }}
{{- end }}

{{- if .python_packages }}
# Install Python packages
{{- range $pkg := .python_packages }}
if command -v pipx &> /dev/null; then
  {{ $extras := "" }}
  {{- if hasKey $pkg "extras" }}
  {{- $extras := $pkg.extras | join "," -}}
  {{- end }}
  echo "Installing Python package with extras: {{ $pkg.name }}{{ $extras }}"
  pipx install --system-site-packages "{{ $pkg.name }}{{ $extras }}=={{ $pkg.version }}" || echo "Failed to install Python package: {{ $pkg }}"
fi
{{- end }}
{{- end }}

{{- end -}}
