#!/bin/bash

if [ ! command -v helm &> /dev/null ]; then
    echo "Helm is not installed."
    exit 1
else
    echo "Helm is installed, proceeding with plugin installation."

    echo "Adding Helm repositories..."
    # Check if Helm repositories are defined
    {{- if .helm.repositories -}}
    {{- range $repo := .helm.repositories -}}
    if helm repo list | grep -q "{{ $repo.name }}"; then
	echo "Repository {{ $repo.name }} is already added."
    else
	echo "Adding repository {{ $repo.name }} from URL {{ $repo.url }}"
	helm repo add {{ $repo.name }} {{ $repo.url }} --force-update
    fi
    {{- end -}}
    {{- else -}}
    fi

    # Check if Helm plugins are defined
#{{- if .helm.plugins -}}
#    {{- range $plugin := .helm.plugins -}}
#    # Install Helm plugins
#    if helm plugin list | grep -q "{{ $plugin.name }}"; then
#	echo "Plugin {{ $plugin.name }} is already installed."
#    else
#	echo "Installing plugin {{ $plugin.name }} from repository {{ $plugin.repository }} with version {{ $plugin.version }}"
#    fi
#    {{ end -}}
#{{- end -}}
fi
