export PATH=$PATH:$HOME/.poetry/bin:$HOME/go/bin:$HOME/.local/bin:/$HOMEBREW_PREFIX/bin
export GOHOME=$HOME/go
export GOPATH=$HOME/go
export PATH=$GOPATH/bin:$PATH
export KUBECONFIG=$HOME/.kube/config
export KUBECTL_KUBERC=true
export WERF_INSECURE_REGISTRY=1
#export LDFLAGS="-L/$HOMEBREW_PREFIX/opt/libpq/lib"
#export CPPFLAGS="-I/$HOMEBREW_PREFIX/opt/libpq/include"
export AZURE_CLI_DISABLE_CONNECTION_VERIFICATION=1
export TERRAGRUNT_DOWNLOAD=$HOME/.terragrunt-cache
export IRONBANK_URL=registry1.dso.mil
#export PATH="$PATH:/$HOMEBREW_PREFIX/Cellar/openssl@3/3.3.0/bin"
#export PATH="$HOMEBREW_PREFIX/opt/grep/libexec/gnubin:$PATH"
#export PATH="$PATH:/Applications/WezTerm.app/Contents/MacOS"
export BAT_CONFIG_PATH="$HOME/.config/bat/config"
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=#ffffff,bold,underline"
export GNUPGHOME=$HOME/.gnupg
export KUBECTL_KUBERC=true
export GRANTED_ENABLE_AUTO_REASSUME=true
{{ if eq .type "personal" -}}
export BITWARDEN_EMAIL=mitch.murphy@gmail.com
# export GEM_HOME=$HOME/.gem
# export PATH=$GEM_HOME/bin:$PATH
export OPENAI_API_KEY={{ (bitwarden "item" "OPENAI_API_KEY").notes }}
export BROWSERBASE_API_KEY={{ (bitwarden "item" "BROWSERBASE_API_KEY").notes }}
export GEMINI_API_KEY={{ ( bitwarden "item" "GEMINI_API_KEY").notes }}
export IRONBANK_USERNAME={{ (bitwarden "item" "IRONBANK").login.username }}
export IRONBANK_PASSWORD={{ (bitwarden "item" "IRONBANK").login.password }}
export CLAUDE_MCP_PAT={{ (bitwarden "item" "CLAUDE_MCP_PAT").notes }}
export KAGI_API_KEY={{ (bitwarden "item" "KAGI_API_KEY").notes }}
export CLINE_CLAUDE_API_KEY={{ (bitwarden "item" "CLINE_CLAUDE_API_KEY").notes }}
export FIRECRAWL_API_KEY={{ (bitwarden "item" "FIRECRAWL_API_KEY").notes }}
export UDS_USERNAME={{ (bitwarden "item" "uds-registry-prod").login.username }}
export UDS_PASSWORD={{ (bitwarden "item" "uds-registry-prod").login.password }}
export UDS_URL=registry.defenseunicorns.com
{{ end -}}
export GITHUB_TOKEN={{ (bitwarden "item" "GITHUB_TOKEN").notes }}
export CR_PAT={{ (bitwarden "item" "CR_PAT").notes }}
export BRAVE_API_KEY={{ (bitwarden "item" "BRAVE_API_KEY").notes }}
export MCFLY_KEY_SCHEME=vim
export MCFLY_FUZZY=2
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"
export XAI_API_KEY={{ (bitwarden "item" "XAI_API_KEY").notes }}
export NPM_TOKEN={{ (bitwarden "item" "NPM_TOKEN").notes }}
export HOMEBREW_GITHUB_API_TOKEN={{ (bitwarden "item" "HOMEBREW_GITHUB_API_TOKEN").notes }}
export ARTIFACTHUB_API_KEY_ID={{ (bitwarden "item" "artifacthub-api-key").login.username }}
export ARTIFACTHUB_API_KEY_SECRET={{ (bitwarden "item" "artifacthub-api-key").login.password }}
export QUAY_IO_USERNAME={{ (bitwarden "item" "quay-robot").login.username }}
export QUAY_IO_PASSWORD={{ (bitwarden "item" "quay-robot").login.password }}
