export PATH=$PATH:$HOME/.poetry/bin:$HOME/go/bin:$HOME/.local/bin:/$HOMEBREW_PREFIX/bin
export GOHOME=$HOME/go
export GOPATH=$HOME/go
export PATH=$GOPATH/bin:$PATH
export KUBECONFIG=$HOME/.kube/config
export KUBECTL_KUBERC=true
export WERF_INSECURE_REGISTRY=1
#export LDFLAGS="-L/$HOMEBREW_PREFIX/opt/libpq/lib"
#export CPPFLAGS="-I/$HOMEBREW_PREFIX/opt/libpq/include"
export AZURE_CLI_DISABLE_CONNECTION_VERIFICATION=1
export TERRAGRUNT_DOWNLOAD=$HOME/.terragrunt-cache
export IB_URL=registry1.dso.mil
#export PATH="$PATH:/$HOMEBREW_PREFIX/Cellar/openssl@3/3.3.0/bin"
#export PATH="$HOMEBREW_PREFIX/opt/grep/libexec/gnubin:$PATH"
#export PATH="$PATH:/Applications/WezTerm.app/Contents/MacOS"
export BAT_CONFIG_PATH="$HOME/.config/bat/bat.conf"
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=#ffffff,bold,underline"
export GNUPGHOME=$HOME/.gnupg
export KUBECTL_KUBERC=true
export GRANTED_ENABLE_AUTO_REASSUME=true
#export CONTAINERS_MACHINE_PROVIDER=libkrun
{{ if eq .type "personal" -}}
export BITWARDEN_EMAIL=mitch.murphy@gmail.com
# export GEM_HOME=$HOME/.gem
# export PATH=$GEM_HOME/bin:$PATH
export OPENAI_API_KEY={{ (bitwarden "item" "OPENAI_API_KEY").notes }}
export BROWSERBASE_API_KEY={{ (bitwarden "item" "BROWSERBASE_API_KEY").notes }}
export GEMINI_API_KEY={{ ( bitwarden "item" "GEMINI_API_KEY").notes }}
export IB_USERNAME={{ (bitwarden "item" "98339349-3407-43e0-b7fe-b2e70151a80c").login.username }}
export IB_PASSWD={{ (bitwarden "item" "98339349-3407-43e0-b7fe-b2e70151a80c").login.password }}
export CLAUDE_MCP_PAT={{ (bitwarden "item" "CLAUDE_MCP_PAT").notes }}
export KAGI_API_KEY={{ (bitwarden "item" "KAGI_API_KEY").notes }}
export CLINE_CLAUDE_API_KEY={{ (bitwarden "item" "CLINE_CLAUDE_API_KEY").notes }}
{{ end -}}
export GITHUB_TOKEN={{ (bitwarden "item" "GITHUB_TOKEN").notes }}
