{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{- range .taps }}
tap {{ .name | quote }}
{{- end }}

{{- range $group, $packages := .brews }}
  {{- range $packages }}
brew {{ . | quote }}
  {{- end }}
{{- end }}

{{- range .casks }}
cask {{ . | quote }}
{{- end }}

{{- range .vscode_extensions }}
vscode {{ . | quote }}
{{- end }}
EOF

# install krew plugins
if [ -f $HOME/.krew.txt ]; then
  kubectl krew install < $HOME/.krew.txt
fi
{{- end -}}