{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{- range .taps }}
tap {{ .name | quote }}
{{- end }}

{{- range $group, $packages := .brews }}
  {{- range $packages }}
brew {{ . | quote }}
  {{- end }}
{{- end }}

{{- range .casks }}
cask {{ . | quote }}
{{- end }}

{{- range .vscode_extensions }}
vscode {{ . | quote }}
{{- end }}
EOF

# install krew plugins
if [ -f $HOME/.krew.txt ]; then
  #kubectl krew install < $HOME/.krew.txt
  echo "Reconciling krew plugins"
  while read -r plugin; do
    if ! kubectl krew list | grep -q "$plugin"; then
      echo "Installing krew plugin: $plugin"
      kubectl krew install "$plugin" 1>&2>/dev/null
      if [ $? -ne 0 ]; then
        echo "Failed to install krew plugin: $plugin"
      else
        echo "Successfully installed krew plugin: $plugin"
      fi
    else
      echo "Krew plugin $plugin is already installed."
    fi
  done < $HOME/.krew.txt
fi
{{- end -}}