{{- $arch := .chezmoi.arch -}}
{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{- range .taps }}
tap {{ .name | quote }}
{{- end }}
/*
{{- range $group, $packages := .brews }}
  {{- range $packages }}
brew {{ .name | quote }}
  {{- end }}
{{- end }}

{{- range .casks }}
cask {{ .name | quote }}
{{- end }}
*/

{{- range .vscode_extensions }}
vscode {{ . | quote }}
{{- end }}
EOF

# Install Krew plugins
echo "Installing Krew plugins for architecture: {{ .chezmoi.arch }}"

{{- range .krew_plugins }}
  {{- if has $arch .architectures }}
if ! kubectl krew list | grep -q {{ .name }}; then
  echo "Installing krew plugin: {{ .name }}"
  kubectl krew install {{ .name }} || echo "Failed to install krew plugin: {{ .name }}"
else
  echo "Krew plugin {{ .name }} is already installed."
fi
  {{- end }}
{{- end }}

{{- end -}}